<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="rest api free">
    <meta name="author" content="VamsesOfficial">
    <meta property="og:image" content="https://telegra.ph/file/90b3b82519c77bf472630.jpg">
    <title>VamsesOfficial-Api</title>
    <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://telegra.ph/file/90b3b82519c77bf472630.jpg"> 
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body id="page-top" class="dark-mode">
    <div id="wrapper">
      <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar"><a class="sidebar-brand d-flex align-items-center justify-content-center" href="/docs"> <img src="https://telegra.ph/file/4e412b38d168b4919c2ff.jpg" class="rounded-circle shadow-4" style="width: 50px;" alt="Avatar"> 
          <div class="sidebar-brand-text mx-3">
            Males pengen beli truk
          </div> </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active"><a class="nav-link" href="https://instagram.com/ketutaguss_"> <i class="fa fa-instagram"></i> <span>INSTAGRAM</span></a></li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
           Features 
        </div>
        
        <li class="nav-item"><a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap"> <i class="fa fa-fw fa-arrow-down"></i> <span>Downloader</span> </a>
          <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
              <h6 class="collapse-header">DOWNLOADER</h6>
                <a class="collapse-item" href="/api/download/tiktokslide?url=https://vt.tiktok.com/ZSLr2b4Wb/&apikey=BUYNOW" target="_blank">Tiktok Image&Video</a>
                <a class="collapse-item" href="/api/download/tiktok?url=https://vt.tiktok.com/ZSLr68MSX/&apikey=BUYNOW" target="_blank">TiktokV1</a>
                <a class="collapse-item" href="/api/download/tiktokv2?url=https://vt.tiktok.com/ZSLr68MSX/&apikey=BUYNOW" target="_blank">TiktokV2</a>
                <a class="collapse-item" href="/api/download/instagram?url=https://www.instagram.com/p/Ctkf29pvB-9/?igshid=MzRlODBiNWFlZA==&apikey=BUYNOW" target="_blank">Instagram</a>
                <a class="collapse-item" href="/api/download/spotify?url=https://open.spotify.com/track/7DarzR1mx3txIpfNR7FDnJ?si=ACHxf4tlSOecRkjLO92SsA&utm_source=copy-link&apikey=BUYNOW" target="_blank">Spotify</a>
                <a class="collapse-item" href="/api/download/youtube?url=https://youtu.be/HriKIzu0Gn4?apikey=BUYNOW" target="_blank">YouTube</a>
                <a class="collapse-item" href="/api/download/capcut?url=https://www.capcut.com/template-detail/7116805181869755650?template_id=7116805181869755650&share_token=a1193bbb-fe1d-482c-8a8f-5d5dfb54e550&enter_from=template_detail&region=ID&language=in&platform=copy_link&is_copy_link=1&apikey=BUYNOW" target="_blank">CapCut</a>
                <a class="collapse-item" href="/api/download/facebook?url=https://fb.watch/ll0EYz_9a-/?mibextid=VhDh1V&apikey=BUYNOW" target="_blank">Facebook</a>
                <a class="collapse-item" href="/api/download/xnxxdl?url=https://www.xnxx.com/video-g070df7/big_tits_naughty_wife_ariella_ferrera_love_hardcore_intercorse_movie-06&apikey=BUYNOW" target="_blank">XNXXDL</a>
                <a class="collapse-item" href="api/dowloader/soundcloud?url=https://soundcloud.com/ndaa-212683099/dj-coba-kau-ingat-ingat-kembali-seharusnya-aku-jungle-dutch-terbaru-2021-full-bass-viral-tik?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing&apikey=BUYNOW" target="_blank">SoundCloud</a>
                <a class="collapse-item" href="api/dowloader/telesticker?url=https://t.me/addstickers/Shitsshitsshitsshists&apikey=BUYNOW" target="_blank">Telegram Sticker</a>
            </div>
            
            <li class="nav-item"><a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true" aria-controls="collapseBootstrap"> <i class="fa fa-search"></i> <span>Search</span> </a>
          <div id="collapseSearch" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
              <h6 class="collapse-header">SEARCH</h6>
              <a class="collapse-item" href="/api/pinterest/search?text=naruto" target="_blank">Pinterest</a>
              <a class="collapse-item" href="/api/gempa/search" target="_blank">Gempa</a>
              <a class="collapse-item" href="/api/search/xnxx?text=jordi&apikey=BUYNOW" target="_blank">XNXX</a>
              </div>
          
          <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandomText" aria-expanded="true" aria-controls="collapseTable">
                        <i class="fa fa-fw fa-music"></i>
                        <span>Sound Of Text</span>
                    </a>
                    <div id="collapseRandomText" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Bahasa</h6>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=id-ID&apikey=BUYNOW">Indonesian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=en-US&apikey=BUYNOW">English (United States)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=ja-JP&apikey=BUYNOW">Japanese (Japan)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=fr-FR&apikey=BUYNOW">French</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=fil-PH&apikey=BUYNOW">Filipino</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=my&apikey=BUYNOW">Burmese (Myanmar)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=de-DE&apikey=BUYNOW">German</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=it-IT&apikey=BUYNOW">	Italian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=jko-KR&apikey=BUYNOW">Korean</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=th-TH&apikey=BUYNOW">Thai</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=hi-IN&apikey=BUYNOW">Hindi</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=ru-RU&apikey=BUYNOW">Russian</a>
              
          <li class="nav-item"><a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConvert" aria-expanded="true" aria-controls="collapseBootstrap"> <i class="fa fa-fw fa-font"></i> <span>Convert</span> </a>
          <div id="collapseConvert" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
              <h6 class="collapse-header">CONVERT</h6>
              <a class="collapse-item" href="/api/image/jadianime?url=https://telegra.ph/file/c89bc0547fce3ab268807.jpg&apikey=BUYNOW" target="_blank">To Anime</a>
          </div>
          
          <li class="nav-item"><a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWallpaper" aria-expanded="true" aria-controls="collapseBootstrap"> <i class="fa fa-images"></i> <span>Wallpaper</span> </a>
          <div id="collapseWallpaper" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
              <h6 class="collapse-header">Wallpaper</h6>
              <a class="collapse-item" href="/api/wallpaper/anime?apikey=BUYNOW" target="_blank">Anime</a>
              <a class="collapse-item" href="/api/wallpaper/HP?apikey=BUYNOW" target="_blank">HP</a>
              <a class="collapse-item" href="/api/wallpaper/ML?apikey=BUYNOW" target="_blank">ML</a>
          </div>
          
          <li class="nav-item"><a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGame" aria-expanded="true" aria-controls="collapseBootstrap"> <i class="fa fa-gamepad"></i> <span>Game</span> </a>
          <div id="collapseGame" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
              <h6 class="collapse-header">GAME</h6>
              <a class="collapse-item" href="/api/game/tebaklirik" target="_blank">Tebak Lirik</a>
              <a class="collapse-item" href="/api/game/tebaktebakan" target="_blank">Tebak Tebakan</a>
              <a class="collapse-item" href="/api/game/tebakkalimat" target="_blank">Tebak Kalimat</a>
              <a class="collapse-item" href="/api/game/tebakgambar" target="_blank">Tebak Gambar</a>
              <a class="collapse-item" href="/api/game/tebakjenaka" target="_blank">Tebak Jenaka</a>
              <a class="collapse-item" href="/api/game/siapakahaku" target="_blank">Siapakahaku</a>
              <a class="collapse-item" href="/api/game/tebakkimia" target="_blank">Tebak Kimia</a>
              <a class="collapse-item" href="/api/game/tebakbendera" target="_blank">Tebak Bendera</a>
          </div>
          
          <li class="nav-item"><a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAsupan" aria-expanded="true" aria-controls="collapseBootstrap"> <i class="fa fa-warning"></i> <span>Asupan</span> </a>
          <div id="collapseAsupan" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner rounded">
            	<h6 class="collapse-header">Asupan</h6>
            <a class="collapse-item" href="/api/asupan/bocil?apikey=BUYNOW" target="_blank">Bocil</a>
            <a class="collapse-item" href="/api/asupan/rika?apikey=BUYNOW" target="_blank">Rika</a>
            </div>
            
          <li class="nav-item"><a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNsfw" aria-expanded="true" aria-controls="collapseBootstrap"> <i class="fa fa-eye-slash"></i> <span>Nsfw</span> </a>
          <div id="collapseNsfw" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          	<div class="py-2 collapse-inner rounded">
          	<h6 class="collapse-header">NSFW</h6>
          <a class="collapse-item" href="/api/nsfw/hentaivid?apikey=BUYNOW" target="_blank">Hentaivid</a>
          <a class="collapse-item" href="/api/nsfw/gif?apikey=BUYNOW" target="_blank">Gif</a>
          <a class="collapse-item" href="/api/nsfw/ass?apikey=BUYNOW" target="_blank">Ass</a>
          <a class="collapse-item" href="/api/nsfw/pussy?apikey=BUYNOW" target="_blank">Pussy</a>
          <a class="collapse-item" href="/api/nsfw/ahegao?apikey=BUYNOW" target="_blank">Ahegao</a>
          <a class="collapse-item" href="/api/nsfw/bdsm?apikey=BUYNOW" target="_blank">Bdsm</a>
          <a class="collapse-item" href="/api/nsfw/blowjob?apikey=BUYNOW" target="_blank">Blowjob</a>
          <a class="collapse-item" href="/api/nsfw/cuckold?apikey=BUYNOW" target="_blank">Cuckold</a>
          <a class="collapse-item" href="/api/nsfw/cum?apikey=BUYNOW" target="_blank">Cum</a>
          <a class="collapse-item" href="/api/nsfw/ero?apikey=BUYNOW" target="_blank">Ero</a>
          </div>
        </li>
      </ul>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top"><button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3"> <i class="fa fa-bars"></i> </button>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown no-arrow"><a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="https://telegra.ph/file/ab9a6afc6e7d21ecc4d32.jpg" class="rounded-circle shadow-4" style="width: 50px;" alt="Avatar"> <span class="ml-2 d-none d-lg-inline small font-weight-bold">Jimi Gay</span> </a></li>
            </ul>
          </nav>
          <div class="container-fluid" id="container-wrapper">
            <div class="card h-50 mb-4">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col mr-2">
                    <div class="text-md-left font-weight-bold mb-2 text-primary">
                      RasyaModeSigma - APIs
                    </div>
                    <div class="text-sm-left mb-0 font-weight-bold">
                      RestApi Kami Saat Ini Masih Dalam Pengembangan, Jika Menemukan Bug/Fitur Error Harap Untuk Dimaklumi yo.
                    </div>
                  </div>
                  <div class="col-auto"><i class="fas fa-quote-right fa-2x text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-50">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                          Visitor
                        </div>
                        <div class="h5 mb-0 font-weight-bold" id="visitor">
                          0
                        </div>
                      </div>
                      <div class="col-auto"><i class="fas fa-eye fa-2x text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-50">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                          Battery
                        </div><span id="battery_level" class="h5 mb-0 font-weight-bold">Waiting... </span>
                      </div>
                      <div class="col-auto"><i class="fa fa-battery-full"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-50">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                          hari kemerdekaan RI
                        </div>
                        <div class="h5 mb-0 font-weight-bold" id="jadwaltime">
                          Waiting... 
                        </div>
                      </div>
                      <div class="col-auto"><i class="fas fa-calendar fa-2x text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card h-50">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                          Jam
                        </div>
                        <div class="h5 mb-0 font-weight-bold" id="row-no-guttersalign-items-center">
                          00:00:00
                        </div>
                        <div class="h5 mb-0 font-weight-bold" id="text-xsfont-weight-boldtext-uppercase-mb-1">
                          Selamat Pagi
                        </div>
                      </div>
                      <div class="col-auto"><i class="fas fa-calendar fa-2x text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="findipurl"> <a href="find-ip.net"></a>
            </div>
            <script defer src="https://api.find-ip.net/widget.js?width=220&amp;bg=%23152232&amp;border=%230e1824&amp;textcol=%23d3d5f3&amp;language=0&amp;system=0&amp;"></script>
            <div class="Box mt-4">
              <div class="Box-body p-4">
                <div class="d-flex flex-justify-between">
                  <div class="text-mono text-small mb-3">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-center">
                     Contact Me 
                    <p><a href="http://wa.me/6285781675560" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fab fa-fw fa-whatsapp"></i>&nbsp;WHATSAPP</a></p>
                  </div>
                </div>
              </div>
            </div>
            <footer class="sticky-footer">
              <div class="container my-auto">
                <div class="copyright text-center my-auto">
                   Made with <i class="fa fa-heart"></i> by <a href="http://github.com/rasyagehena" target="_blank" style="color: rgb(255, 234, 0);">Love Capitalism</a>
                </div>
              </div>
            </footer>
          </div>
        </div><a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i> </a>
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="js/ruang-admin.min.js"></script>
        <script src="js/menu.js"></script>
      </div>
    </div>
  </body>
                  </html>